**/node_modules/
**/.projectile
**/public/js/cljs-runtime
beatsajer/public/js/main.js
beatsajer/public/js/main.js.map
beatsajer/public/js/test
beatsajer/public/js/cljs-runtime
beatsajer/public/js/manifest.edn
beatsajer/public/songs
pong/public/js/main.js
pong/public/js/test

pong/public/js/manifest.edn

vr_editor/public/js/
vr_editor/public/js/cljs-runtime

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

*~
*blend1
*#